@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.logo {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin: 2em;
}

footer {
  background-color: #E7E7BE;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
}

.reseaux ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-decoration: none;
}
.reseaux ul a {
  text-decoration: none;
  color: inherit;
}
.reseaux ul a img {
  width: 50px;
  height: 50px;
}

div p {
  text-align: center;
  border-radius: 20px;
}

html body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav ul {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 4em;
  text-decoration: none;
}
.nav ul a {
  text-decoration: none;
  color: inherit;
}

.grid-accueil {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e7e7DE;
  width: 100%;
}

.grid-accueil figure {
  margin: 0;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.grid-accueil img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.grid-accueil figure:hover img {
  transform: scale(1.05);
}

.presentation {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
.presentation article {
  text-align: left;
  max-width: 600px;
  flex: 1;
  margin-right: 20px;
}
.presentation .monprofil {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 40%;
}
.presentation .monprofil img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.commentaires {
  font-family: "Montserrat", sans-serif;
  display: flex;
}
.commentaires .commentaire {
  text-align: center;
  justify-content: space-around;
  border: 2px solid #e7e7DE;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  box-shadow: 20px;
}

.studio {
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-columns: auto repeat(4, 1fr) auto;
  grid-template-rows: 0.5fr repeat(4, auto);
  width: 100%;
  min-height: 100vh;
  padding: 3%;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 1rem;
  background-color: #ebebeb;
}
.studio .titre {
  display: flex;
  justify-content: center;
}
.studio .paragraphe {
  display: flex;
  align-items: center;
}

.studio__intro {
  grid-column: 3/5;
  grid-row: 1;
  text-align: center;
}

.studio__ambiance {
  display: contents;
}
.studio__ambiance figure {
  grid-column: 2/5;
  grid-row: 2;
}
.studio__ambiance h2,
.studio__ambiance p {
  grid-column: 5/6;
  grid-row: 2;
}

.studio__securite {
  display: contents;
}
.studio__securite h2,
.studio__securite p {
  grid-column: 2/3;
  grid-row: 3;
}
.studio__securite figure {
  grid-column: 3/6;
  grid-row: 3;
}

.studio__confort {
  display: contents;
}
.studio__confort figure {
  grid-column: 2/5;
  grid-row: 4;
}
.studio__confort h2,
.studio__confort p {
  grid-column: 5/6;
  grid-row: 4;
}

.studio__localisation {
  grid-column: 2/6;
  grid-row: 5;
  text-align: center;
}
.studio__localisation iframe {
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  margin: 20px;
}/*# sourceMappingURL=main.css.map */