// mixin structure du carousel

@mixin carousel-structure($width: 100%, $transition-time: 0.5s) {
    position: relative;
    max-width: $width;
    margin: 0 auto;
    overflow: hidden;

        .carousel-wraper{
            display: flex;
            transition: transform $transition-time ease-in-out;
        }

        .carousel-item{
            width: 100%;
        }

        .carousel-item img{
            width: 100%;
            height: auto;
            display: block;
        }

        input[type="radio"]{
            display: none;
        }
}
