$font-family-lato: 'Lato', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;

$primary-color: #ebebeb;
$gap-spacing: 1rem;
$padding-size: 3%;
$border-radius: 20px;
$iframe-height: 300px;
$min-height: 100vh;