footer{
    background-color: #E7E7BE;
    font-family:$font-family-montserrat;;
    padding: 1rem;
    text-align: center;
}



.reseaux ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-decoration: none;

        a {
        text-decoration: none;
        color: inherit;;
        }

        a img{
            width: 50px;
            height: 50px;
        }
}

div p{
    text-align: center;
    border-radius: 20px;
}
