.nav ul{
    font-family:$font-family-montserrat;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 4em;
    text-decoration: none;

        a {
        text-decoration: none;
        color: inherit;
        }
}